<div class="container">
  <div class="jumbotron">
    <h1>Word Definer</h1>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Word List</h3>
    </div>
    <div class="panel-body">
      <% @list_word.each do |item| %>
        <h4><a href="/items/<%= item.id %>"><%= item.word %></a></h4>
      <% end %>
    </div>
  </div>

  <div class="well">
        <h3>Add an word to the list:</h3>
    <form action="/" method="post">
      <div class="form-group">
        <label for="word">word</label>
        <input id="w" name="word" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="definition">define</label>
        <input id="d" name="definition" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-primary">Add Word</button>
    </form>
  </div>
</div>
