<div class="container">
  <div class="well">
    <h1><%= @item.word %></h1>

    <h3>definition: <%= @item.definition %></h3>

    <% @item.def_array.each do |definition| %>
      <h4><%= definition %></h4>
    <% end %>

  </div>
</div>
<form action="/items/:id" method="post">
  <div class="form-group">
    <label for="definition">Add another definition</label>
    <input id="d2" name="definition_add" class="form-control" type="text">
    <button name="add_button" value="<%= @item.id %>" type="submit" class="btn btn-primary">Add definition</button>
  </div>
</form>
